<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.imageseg.mapper.UserMessageMapper">
    <resultMap id="BaseResultMap" type="com.scu.imageseg.entity.UserMessage">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="summary" column="summary" jdbcType="VARCHAR"/>
        <result property="details" column="details" jdbcType="VARCHAR"/>
        <result property="timestamp" column="timestamp" jdbcType="DATE"/>
        <result property="isRead" column="is_read" jdbcType="BOOLEAN"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="messageType" column="message_type" jdbcType="VARCHAR"/>
        <result property="isUrgent" column="is_urgent" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,summary,
        details,timestamp,is_read,
        user_id,message_type,is_urgent
    </sql>
</mapper>
